# Haskell
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
.virtualenv
.hsenv
.hpc
.stack-work/
.cabal-sandbox/
cabal.sandbox.config
cabal.config
TAGS
.DS_Store
*~
*#
state/
config.json

# IDE/support
.idea/
.ideaHaskellLib/
guide.iml
.vscode/
tags

node_modules/
front/coverage/
front/build/
static/js/

.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# JavaScript
guidejs/node_modules/
