# Haskell
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
.virtualenv
.hsenv
.hpc
.stack-work/
.cabal-sandbox/
cabal.sandbox.config
cabal.config
.DS_Store
*~
*.swp
*.swo
*#

# IDE/support
.idea/
.ideaHaskellLib/
guide.iml
.vscode/
TAGS
tags

# backend database
/state/

# backend config
/config.json

# frontend
/guidejs/node_modules/
/guidejs/package-lock.json
/front/node_modules/
/static/js/
