<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%=title%></title>
  <!-- TODO (sectore) create and add css file -->
  <!-- <link href="/<%=contentId%>.css" rel="stylesheet"> -->
</head>
<body>
