node_modules/
bower_components/
output/
.psci_modules
npm-debug.log
.psc-ide-port
yarn-error.log
.yarnclean

public/*.js
# ^ By PureScript compiled js files
public/*.css
# ^ Sass generated css files

common/Generated
# ^ generated types by `purescript-bridge`
