.items {
  display: flex; }

.item {
  border: 1px solid;
  margin: 5px; }

.traits {
  display: flex }

.traits-group {
  margin: 0px 5px; }

.textButton {
  margin-left: 1em; }

.textButton::before {content: "[";}
.textButton::after  {content: "]";}

a:link    {color: #008ACE; text-decoration: none;}
a:visited {color: #B40EB4; text-decoration: none;}
a:hover   {text-decoration: underline;}
a:active  {text-decoration: underline;}

a.anchor {
  margin-right: 0.5em;
  color: gray; }
