body {
  padding: 2em;
  padding-bottom: 0;
  margin: auto;
  max-width: 800px;
  font-family: sans-serif; }

#footer {
  text-align: center;
  padding: 1.5em 0;
  margin-top: 2em;
  border-top: 1px solid black; }

#search {
  font-size: 200%;
  border: 1px solid #d0d0d0;
  padding: 3px 10px;
  width: 100%; }

.category {
  margin-top: 3em; }

.item {
  display: flex;
  margin-top: 20px; }

.item-info {
  padding: 10px 15px; }

.item-traits {
  padding: 10px 15px 20px 15px; }

.traits-groups-container {
  display: flex; }

.traits-group {
  margin: 0px 5px;
  flex: 1; }

.traits-group > ul {
  padding-left: 1em; }

.traits-group > ul li {
  margin: 10px 0px; }

.text-button {
  font-size: 10pt;
  font-weight: normal; }

.text-button::before {content: "[";}
.text-button::after  {content: "]";}

textarea {
  font-family: sans-serif;
  font-size: 100%; }

input {
  font-size: 100%; }

a:link    {color: #008ACE; text-decoration: none;}
a:visited {color: #B40EB4; text-decoration: none;}
a:hover   {text-decoration: underline;}
a:active  {text-decoration: underline;}

a.anchor {
  margin-right: 0.5em;
  color: gray; }

code {
  background: rgba(10, 10, 10, 0.1);
  font-size: 95%;
  padding: 2px 4px; }

pre {
  background: rgba(10, 10, 10, 0.1);
  line-height: 150%;
  padding: 0.5em 1em;
  overflow-x: auto; }

pre code {
  background: rgba(0, 0, 0, 0);
  padding: 0; }

form {
  margin: 0; }

.fullwidth {
  width: 100%; }

textarea.fullwidth {
  resize: vertical; }
