.items {
  display: flex; }

.item {
  border: 1px solid;
  margin: 5px; }

.traits {
  display: flex }

.traits-group {
  margin: 0px 5px; }

.anchor {
  margin-right: 0.5em;
  color: gray; }

.textButton {
  margin-left: 1em; }

.textButton::before {content: "[";}
.textButton::after  {content: "]";}
