.notes-like h1 {
  margin-top: 40px;
  font-size: 1.2em; }
.notes-like h2 {
  margin-top: 20px;
  font-size: 1em; }
.notes-like h3 {
  margin-top: 10px;
  font-size: 0.8em; }

blockquote {
  background: rgba(10,10,10,0.075);
  border-left: 5px solid rgba(10,10,10,0.15);
  padding: 1px 1em;
  margin-left: 0;
  margin-right: 0; }

blockquote p {
  margin: 0.5em 0; }

code {
  background: rgba(10, 10, 10, 0.04);
  font-size: 95%;
  padding: 2px 4px; }

div.sourceCode {
  overflow-x: unset; }

pre {
  background: rgba(10, 10, 10, 0.04);
  line-height: 150%;
  padding: 0.5em 1em;
  overflow-x: auto; }

pre.repl {
  border-left: 5px solid gray; }

pre code {
  background: rgba(0, 0, 0, 0);
  padding: 0; }

a:link    {color: #008ACE; text-decoration: none;}
a:visited {color: #B40EB4; text-decoration: none;}
a:hover   {text-decoration: underline;}
a:active  {text-decoration: underline;}

del {
  text-decoration: none;
  background-color: rgba(240, 16, 27, 0.38)
}
ins {
  text-decoration: none;
  background-color: rgba(16, 240, 27, 0.38)
}

.category-status-banner {
  background-color: #FFF694;
  text-align: center;
  border: 2px solid #202020;
  padding: 0.5em;
  margin-left: 10%;
  margin-right: 10%;
}
